# Ignore generated code files
*.so
*.o
*.pyc

# Meta data of Mac OS X's Finder.app
.DS_Store

# ctags, cscope files
/cscope.files
/refresh_index.sh
/tags*
.tags*

# misc
.predictive
.Rhistory
eproject.cfg
*.project.vim
